.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ProfileTop {
  width: 80%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-title p{
  font-weight: bold;
  font-family: "open sans", sans-serif;
  font-size: 18px;
}

#hey{
  width: 10px;
}

.back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.linkButton{
  width: 100%;
  height: 100px;
  background-color: #EAECF0;
  font-size: 18px;
  font-weight: 500;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
}

.linkButton:hover{
  background-color: #d1d2d4;
  cursor: pointer;
}

.MainBox{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 25px;
  padding: 25px;
}

.social-section{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.COMPS {
  width: 150px;
}

.footer{
  width: 100%;
  margin-top: 30px;
  border-top: 2px solid #EAECF0;
  padding: 20px;
   display: flex;
   flex-direction: row;
   column-gap: 20px;
   justify-content: space-between;
   align-items: center;
}